body {
  font-family: sans-serif;
}

.social-post {
  width: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0.5rem;
}

.social-tags ol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.social-tag {
  text-decoration: none;
  list-style: none;
}
